:root {
    --primary-color: #003F5F;
    --secondy-color: #0055A3;
    --terciary-color: #00BCE4;
    --error-color: #CB4848;
    --warning-color: #F9821A;
    --success-color: #0D864C;
    --gray-color: #F0F0F0;
}


.main {
    background-color: var(--gray-color);
    padding: 15px 20px;
    margin: 20px auto;
    max-width: 640px;
    border-radius: 4px;
}

.main > h1 {
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
}

.form {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input[type="text"] {
    height: 30px;
    padding: 0 10px;
    min-width: 80%;
}

.form button[type="submit"] {
    margin-inline-start: 5px;
    cursor: pointer;
}

.tarefas {
    margin-top: 12px;
    padding: 5px;
}

.tarefas li {
    display: flex;
    align-items: center;
    padding-inline: 10px;
    justify-content: space-between;
    transition: all 600ms;
}

:where(.css-dev-only-do-not-override-1r287do).ant-list .ant-list-item-no-flex {
    display: flex;
}

:where(.css-dev-only-do-not-override-1r287do).ant-card .ant-card-head {
    min-height: 40px;
    font-size: 14px;
    padding: 0 18px;
}

:where(.css-dev-only-do-not-override-1r287do).ant-card .ant-card-body {
    padding: 12px 18px;
}